@use '../variables/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  max-width: 100%;
  padding: 1em;
  background-color: colors.$primary-accent;

  &__menu-left,
  &__menu-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    background-color: colors.$primary-accent;
    color: colors.$secondary-light;
    padding: 1em;
  }
}
