@use '../variables/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  max-width: 100%;
  background-color: colors.$primary-accent;

  &__menu-left,
  &__menu-right {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: colors.$secondary-light;
    padding: 1em;
  }

  button {
    background: none;
    border: none;
    color: colors.$secondary-light;
    padding: 1em;
    font-size: 1em;
    &:hover {
      background-color: colors.$warning-red;
      cursor: pointer;
    }
  }
}
