@use '../variables/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  max-width: 100%;
  background-color: colors.$primary-accent;

  &__menu-left,
  &__menu-right {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__menu-right {
    //display none hamburger menu
    .navbar__item:last-child {
      display: none;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: colors.$secondary-light;
    padding: 1em;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: colors.$primary-dark;
      color: colors.$primary-accent;
    }
  }

  &__hamburger {
    height: 100%;
    padding: 0.65em 0.75em;
    vertical-align: middle;
    color: colors.$secondary-light;
    &:hover {
      background-color: colors.$primary-dark;
      color: colors.$primary-accent;
    }
  }

  .button-logout {
    background: none;
    border: none;
    color: colors.$secondary-light;
    padding: 1em;
    font-size: 1em;
    &:hover {
      background-color: colors.$warning-red;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    justify-content: flex-end;

    &__menu-left {
      z-index: 2;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 55px;
      background-color: colors.$primary-accent;
      height: 0px;
      width: 100%;
      transition: 0.4s ease-in;
      overflow: hidden;
      &.visible {
        height: 165px;
      }
    }

    &__menu-right {
      //display block hamburger menu
      .navbar__item:last-child {
        display: block;
        cursor: pointer;
      }
    }

    &__item {
      width: 100%;
    }
  }
}
