.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2em;
}
@media only screen and (max-width: 800px) {
  .product-grid {
    gap: 1em;
  }
}
