@use './components/navbar';
@use './variables/fonts';
@use './variables/colors';
@use './components/productgrid';
@use './components/productcard';
@use './components/singleproduct';

* {
  margin: 0;
  padding: 0;
  font-family: fonts.$primary-font;
  font-weight: 300;
  text-decoration: none;
}
body {
  background-color: colors.$primary-dark;
}
h1,
h3,
p {
  color: colors.$primary-accent;
}

@media only screen and (max-width: 800px) {
}
